.home {
    margin-bottom: 150px;
}
.recents-title {
    background-color: rgb(225, 207, 190);
    padding: 10px;
}
.recents-outer {
    margin: 15px;
    display: flex;
    flex-wrap: wrap;
    gap: 28px
}
.recents-image {
    height: 200px;
    border: 0.5px solid;
}
.recents {
    inline-size: 140px;
}
.logged-out-home {
    background-color: rgb(225, 207, 190); 
    width: 40%;
    text-align: center;
    margin: auto;
    margin-top: 15vh;
    padding: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 15px;
}

.logged-out-home p {
    font-size: 29px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.logged-out-home a {
    font-size: 23px;
    padding: 8px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.friends {
    padding: 12px;
    font-size: 18px;
    overflow: auto;
}
.friends input {
    border-radius: 5px;
    border: 1px solid;
    padding: 6px;
}
.search-friends {
    float: left;
    width: 50%;
}
.requests {
    float: right;
    width: 49%;
}
.user button {
    padding: 3px;
    margin: 10px;
}
.request-names button {
    margin: 7px;
    padding: 3px;
    font-size: 11px;
}
.refresh {
    margin: 9px;
    padding: 3px;
    padding-bottom: 0.5px;
    border-radius: 15px;
}

.requests img {
    height: 15px;
}

.view-friends {
    font-size: 20px;
    background-color: rgb(225, 207, 190); 
    width: 28%;
    padding-left: 1.5%;
    padding-bottom: 40px;
    float: left;
    margin-top: 20px;
    margin-left: 14px;
    box-shadow: 10px 10px 51px -14px rgba(0,0,0,0.7);
-webkit-box-shadow: 10px 10px 51px -14px rgba(0,0,0,0.7);
-moz-box-shadow: 10px 10px 51px -14px rgba(0,0,0,0.7);
}
.view-friends h1 {
    font-size: 25px;
    font-family: Lucida;
}

.colored {
    font-weight: bold;
    color: green;
    font-size: 20px;
    padding-bottom: 10px;
}
.friends-library-list {
    overflow: auto;
    background-color: rgb(217, 214, 231);
    padding-bottom: 50px;
    margin-bottom: 80px;
}