.recents-title {
    background-color: rgb(225, 207, 190);
    padding: 10px;
}
.recents-outer {
    margin: 15px;
    display: flex;
    flex-wrap: wrap;
    gap: 15px
}
.recents-image {
    height: 200px;
    border: 0.5px solid;
}
.logged-out-home {
    background-color: rgb(225, 207, 190); 
    width: 40%;
    text-align: center;
    margin: auto;
    margin-top: 15vh;
    padding: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 15px;
}

.logged-out-home p {
    font-size: 29px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.logged-out-home a {
    font-size: 23px;
    padding: 8px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.friends {
    padding: 12px;
    font-size: 18px;
    overflow: auto;
}
.friends input {
    border-radius: 5px;
    border: 1px solid;
    padding: 6px;
}
.search-friends {
    float: left;
    width: 50%;
}
.requests {
    float: right;
    width: 49%;
}
.user button {
    padding: 3px;
    margin: 10px;
}
.request-names button {
    margin: 7px;
    padding: 3px;
    font-size: 11px;
}
.refresh {
    margin: 9px;
    padding: 3px;
    padding-bottom: 0.5px;
    border-radius: 15px;
}

.requests img {
    height: 15px;
}

.view-friends {
    margin: 10px;
    font-size: 19px;
}
.colored {
    font-weight: bold;
    color: green;
    font-size: 20px;
    padding-bottom: 10px;
}